.background {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;

    &__layer1,
    &__layer2,
    &__layer3 {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        opacity: 0;
        transition: opacity .5s;
        z-index: 5;
    }

    &__layer1 {
        background: linear-gradient(#25656F, #305791);
    }

    &__layer2 {
        background: linear-gradient(#297326, #4EB83D);
    }

    &__layer3 {
        background: linear-gradient(#2A194D, #5B2F8E);
    }

    &-state1 {
        .background__layer1 {
            opacity: 1;
        }
    }

    &-state2 {
        .background__layer2 {
            opacity: 1;
        }
    }

    &-state3 {
        .background__layer3 {
            opacity: 1;
        }
    }
}
