.counter {
    z-index: 10;

    &__display {
        text-align: center;
        font-size: 100px;
        color: #fff;
    }

    &__btn {
        border: none;
        background: transparent;
        cursor: pointer;
        font-size: 50px;
        color: #fff;
        margin: 30px 20px;

        &:focus {
            outline: 0;
        }
    }
}
